.world-map{
    min-width: 100vw;
    height: 70vh;
    svg{
        width: 100%;
    }
}

.country{
    &:hover{
        fill: red;
        cursor: pointer;
    }
}

.map-section{
    max-height: 100vh;
}