.title-container{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        text-align: center;
        color: black;
        @media (max-width: 900px){
            font-size: 1rem;
        }
    }
}

.title-wrapper{
    border: none;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
border-radius: 1rem;
box-shadow: 5px 5px 15px 5px #4C545D;
}

.subtitle{
    text-align: center;
}