@import './map';
@import './worldDataOverlay';
@import './titleBar';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Bodoni Moda', serif;
    overflow-x: hidden;
}


.container{
    position: relative;
    z-index: 0;
}

.hide {
    display: none;
}