.world-map {
  min-width: 100vw;
  height: 70vh;
}

.world-map svg {
  width: 100%;
}

.country:hover {
  fill: red;
  cursor: pointer;
}

.map-section {
  max-height: 100vh;
}

.overlay-container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  min-height: 100vh;
  width: 100vw;
  z-index: 2;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .overlay-container {
    width: 100vw;
    overflow: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.scroll-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  .scroll-container {
    overflow-y: scroll;
    display: block;
    height: 110%;
  }
}

@media (min-width: 901px) {
  .overlay-charts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40%;
  }
}

.overlay-charts {
  width: 40%;
  height: 40%;
  margin: 1rem 2rem 1rem 2rem;
  text-align: center;
}

@media (min-width: 901px) {
  .overlay-charts {
    width: 70%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .overlay-charts {
    height: 200px;
    width: 80%;
  }
}

@media (min-width: 901px) {
  .overlay-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.overlay-info {
  width: 20%;
  height: 15%;
  border: none;
  margin: 0rem 1rem 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px 5px #D4D4D2;
          box-shadow: 5px 5px 15px 5px #D4D4D2;
}

@media (min-width: 900px) {
  .overlay-info {
    height: 15vh;
    min-width: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 900px) {
  .overlay-info {
    width: 90%;
    min-height: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 2rem;
  }
}

.chart1 {
  z-index: 5;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Bodoni Moda', serif;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  position: relative;
  z-index: 0;
}

.hide {
  display: none;
}
/*# sourceMappingURL=styles.css.map */